<!doctype html>
<html lang="en">

<head>
  <title>Surprise!!!</title>

  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    body {
      font: 20px Montserrat, sans-serif;
      color: #f5f6f7;
      background-color: #1abc9c;
    }

    p {
      font-size: 16px;
    }

    .margin {
      margin-bottom: 45px;
    }

    .bg-1 {
      /* Green */
      color: #ffffff;
    }

    .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
    }
  </style>
</head>

<body>
  <form name="myForm" class="form" action="/surprise" method="POST" style="visibility: hidden">
    <input name="url" class="form-control" placeholder="URL or Text" type="text" value="https://tinyurl.com/hiral-birthday" required>
    <br>
    <button type="submit" class="btn btn-primary" value="Get QR" id="generate">Generate</button>
  </form>
</body>

<script>
  window.onload = function () {
    document.forms["myForm"].submit();
  }
</script>

</html>