<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Happy Birthday Hiral</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    body {
      font: 20px Montserrat, sans-serif;
      color: #f5f6f7;
      background-color: #1abc9c;
    }

    p {
      font-size: 16px;
    }

    .margin {
      margin-bottom: 45px;
    }

    .bg-1 {
      /* Green */
      color: #ffffff;
    }

    .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
    }

    #videoPlayer {
      width: 100%;
      max-width: 600px;
      height: auto;
      box-shadow: 0 3px 15px #0003;
      vertical-align: middle;
    }
  </style>
</head>

<body>

  <!-- First Container -->
  <div class="container-fluid bg-1 text-center">
    <h3 class="margin">Hi Hiral, Scan this code to get your surprise!</h3>
    <img src=<%=src%> class="img-responsive margin" style="display:inline" alt="Bird" width="350" height="350">
    <h3 class="margin" id="surprise">
      Made with
      <svg viewBox="0 0 1792 1792" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" style="height: 1.8rem;">
        <path d="M896 1664q-26 0-44-18l-624-602q-10-8-27.5-26T145 952.5 77 855 23.5 734 0 596q0-220 127-344t351-124q62 0 126.5 21.5t120 58T820 276t76 68q36-36 76-68t95.5-68.5 120-58T1314 128q224 0 351 124t127 344q0 221-229 450l-623 600q-18 18-44 18z"
          fill="#e25555"></path>
      </svg> for HR
    </h3>
  </div>

</body>

</html>